{% extends 'base.html' %}
{% block page_title %}
    Dashboard
{% endblock page_title %}

{% block main_content %}
    <!-- Main content -->
    <section class="content-header"></section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{ employees_count }}</h3>
                            <p>Employees</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-tie"></i>
                        </div>
                        <a href="{% url 'list-of-employees' %}" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ courses_count }}</h3>
                            <p>Courses</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-school"></i>
                        </div>
                        <a href="{% url 'list-of-courses' %}" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-9 col-6">
                    <div class="row">

                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-success"><i class="fas fa-car-alt"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Transport Costs</span>
                                    <span class="info-box-number">{{ transport_costs }} lei</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-warning"><i class="fas fa-bed"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Accomodation Costs</span>
                                    <span class="info-box-number">{{ accommodation_costs }} lei</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-danger"><i class="fas fa-utensils"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Allowance Costs</span>
                                    <span class="info-box-number">{{ allowance_costs }} lei</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}
