{% extends 'base.html' %}
{% block page_title %}
    Dashboard
{% endblock page_title %}

{% block main_content %}
    <!-- Main content -->
    <section class="content-header"></section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-lg-3 col-6">
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>{{ employees_count }}</h3>
                            <p>Employees</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-user-tie"></i>
                        </div>
                        <a href="{% url 'list-of-employees' %}" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ courses_count }}</h3>
                            <p>Courses</p>
                        </div>
                        <div class="icon">
                            <i class="fas fa-school"></i>
                        </div>
                        <a href="{% url 'list-of-courses' %}" class="small-box-footer">
                            More info <i class="fas fa-arrow-circle-right"></i>
                        </a>
                    </div>
                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ total_days }}</h3>
                            <p>Total Days</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-9 col-6">
                    <div class="row">


                        <div class="col-md-8 col-sm-6 col-12">
                            <!-- PIE CHART -->
                            <div class="card card-light">
                                <div class="card-body">
                                    <canvas id="donutChart"
                                            style="min-height: 330px; height: 330px; max-height: 330px; max-width: 100%;"></canvas>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">

                            <div class="col-md-12 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-success"><i class="fas fa-car-alt"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Transport</span>
                                    <span class="info-box-number">{{ transport_costs }} lei</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-warning"><i class="fas fa-bed"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Accomodation</span>
                                    <span class="info-box-number">{{ accommodation_costs }} lei</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-danger"><i class="fas fa-utensils"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Allowance</span>
                                    <span class="info-box-number">{{ allowance_costs }} lei</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-6 col-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-info"><i class="fa fa-receipt"></i></span>
                                <div class="info-box-content">
                                    <span class="info-box-text">Course Fees</span>
                                    <span class="info-box-number">{{ participation_fee }} lei</span>
                                </div>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->

{% endblock main_content %}

{% block custom_js %}

    <script>
        $(document).ready(function () {
            var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
            var donutData = {
                labels: [
                    'Transport',
                    'Accommodation',
                    'Allowance',
                    'Participation Fee'
                ],
                datasets: [
                    {
                        data: [{{ transport_costs }}, {{ accommodation_costs }}, {{ allowance_costs }}, {{ participation_fee }}],
                        backgroundColor: ['#28a745', '#ffc107', '#dc3545', '#17a2b8'],
                        hoverBackgroundColor: ["#24963e", "#e5ad06", '#c62f3e', '#0d8294']
                    }
                ]
            }

            var donutOptions = {
                maintainAspectRatio: true,
                responsive: true,
            }
            // Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            new Chart(donutChartCanvas, {
                type: 'doughnut',
                data: donutData,
                options: {
                    legend: {
                        display: true,
                        position: 'left',
                        labels: {
                            fontColor: "#aaa",
                        }
                    },
                    tooltips: {
                        enabled: true
                    }
                }
            })

        })
    </script>

{% endblock custom_js %}