{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    {{ course.course_name }}
    <h6 class="mb-0 p-2">
    {% if course.active is True %}
        <span class="badge bg-gradient-success sm">Active</span>
    {% elif course.active is False %}
        <span class="badge bg-gradient-gray">Inactive</span>
    {% endif %}
    </h6>
{% endblock page_title %}
{% block page_button %}
    <div class="btn-group">
        <a class="btn btn-secondary" href="{% url 'edit-course' course.id %}">Edit</a>
        <a class="btn btn-primary" data-toggle="" href="{% url 'assign-employee' course.id %}">Assign New Employee</a>
    </div>

{% endblock page_button %}

{% block custom_css %}

    <style>

        .flexbox-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 65vh;
            margin: 0;
            min-height: 24em;

        }

        .flexbox-item {
            max-width: 50%;

        }

        .fixed {
            flex: none;
            max-width: 50%;
        }

        .item-centered {
            width: 100%;
            padding: 1em;
        }

        .large-icon {
            font-size: 6rem;
        }

        .info-box {
            margin-bottom: 0em;
        !important;
        }

        .content {
            padding-left: 0em;
        !important;
            padding-right: 0em;
        !important;
        }

    </style>

{% endblock custom_css %}


{% block main_content %}


    <!-- Main content -->

    <div class="course_date" id="accordion">
        <div class="card card-primary card-outline-tabs">
            <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                <div class="card-header">

                    <!-- course data start -->
                    <div class="row">
                        <div class="col-12 col-sm-3">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Location</span>
                                    <span class="info-box-number text-center text-muted mb-0">{{ course.location_details }} ({{ course.get_location_display }})</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Duration</span>
                                    <span class="info-box-number text-center text-muted mb-0">{{ course.start_date }} ({{ course.duration }} days)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Provider</span>
                                    <span class="info-box-number text-center text-muted mb-0">{{ course.provider }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-3">
                            <div class="info-box bg-light">
                                <div class="info-box-content">
                                    <span class="info-box-text text-center text-muted">Participation Fee</span>
                                    <span class="info-box-number text-center text-muted mb-0">{{ course.participation_fee }} lei</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- course data end -->

                </div>
            </a>
            <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                <div class="card-body">

                    <!-- course details start -->
                    Some data
                    <!-- course details end -->

                </div>
            </div>
        </div>
    </div>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div>
                        <!-- /.card-header -->

                        {% if employees %}

                            <!-- table start -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th scope="col">Employee</th>
                                        <th scope="col">Structure</th>
                                        <th scope="col">Division</th>
                                        <th scope="col">Courses</th>
                                        <th scope="col">Status</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for employee in employees %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'view-employee' employee.id %}">
                                                    {{ employee.last_name }} {{ employee.first_name }}
                                                </a>
                                            </td>
                                            <td>{{ employee.structure }}</td>
                                            <td>{{ employee.division }}</td>
                                            <td>No data</td>
                                            <td>{% if employee.active is True %}
                                                <span class="badge bg-gradient-success">Active</span>
                                            {% elif employee.active is False %}
                                                <span class="badge bg-gradient-gray">Inactive</span>
                                            {% endif %}
                                            </td>
                                            <td width="80">

                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-light btn-sm">
                                                        <i class="fas fa-eye"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-light btn-sm"
                                                            data-toggle="modal"
                                                            data-target="#employee_{{ employee.id }}">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </div>

                                            </td>
                                        </tr>

                                        <div class="modal fade" id="employee_{{ employee.id }}">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Remove {{ employee.first_name }} {{ employee.last_name }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to remove association with
                                                        <b>{{ employee.first_name }} {{ employee.last_name }}</b> for
                                                        course <b>{{ course.course_name }}</b>?
                                                        This operation cannot be undone.
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a href="{% url 'delete-course-employee' employee.id course.id %}"
                                                           class="btn btn-danger">Remove association</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <!-- table end -->

                        {% else %}
                            <div class="flexbox-container">
                                <div class="flexbox-item fixed">
                                    <div class="item-centered text-center">
                                        <h1 class="text-muted large-icon"><i class="fas fa-user-tie"></i>
                                        </h1>
                                        <h4 class="text-muted">No employee available</h4>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->

{% endblock main_content %}