{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    Courses
{% endblock page_title %}

{% block page_button %}
    <div class="col">
        <a class="btn btn-block btn-primary" data-toggle="modal" href="#addNewCourse">New Course</a>
    </div>
{% endblock page_button %}

{% block custom_css %}

    <style>

        .flexbox-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
            margin: 0;
            min-height: 24em;

        }

        .flexbox-item {
            max-width: 50%;

        }

        .fixed {
            flex: none;
            max-width: 50%;
        }

        .item-centered {
            width: 100%;
            padding: 1em;
        }

        .large-icon {
            font-size: 6rem;
        }

    </style>

{% endblock custom_css %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <br>
                    <div>
                        <!-- table start -->
                        {% if all_courses %}
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th scope="col">Course Name</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Location Details</th>
                                        <th scope="col">Provider</th>
                                        <th scope="col">Fee</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for course in all_courses %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'view-course' course.id %}">
                                                    {{ course.course_name }}</a>
                                            </td>
                                            <td>{{ course.start_date }}</td>
                                            <td>{{ course.end_date }}</td>
                                            <td>{{ course.get_location_display }}</td>
                                            <td>{{ course.location_details }}</td>
                                            <td>{{ course.provider }}</td>
                                            <td>{{ course.participation_fee }}</td>
                                            <td width="80">

                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-light btn-sm">
                                                        <i class="fas fa-pen"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-light btn-sm"
                                                            data-toggle="modal"
                                                            data-target="#course_{{ course.id }}">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>

                                        <div class="modal fade" id="course_{{ course.id }}">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Delete course {{ course.course_name }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete course
                                                        <b>{{ course.course_name }}</b>?<br> This operation cannot be
                                                        undone.
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a href="{% url 'delete-course' course.id %}"
                                                           class="btn btn-danger">Confirm Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="flexbox-container">
                                <div class="flexbox-item fixed">
                                    <div class="item-centered text-center">
                                        <h1 class="text-muted large-icon"><i class="fas fa-school"></i>
                                        </h1>
                                        <h4 class="text-muted">No course available</h4>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->


    <!-- Modal Add New Course-->
    <div class="modal fade" id="addNewCourse" aria-labelledby="CourseFormLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <form class="form" id="add_course_form">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="CourseFormLabel">New Course</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}
                        {{ form.as_p }}

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Course Name</label>
                                    <input autofocus type="text" class="form-control" placeholder="Enter course name"
                                           name="course_name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Provider</label>
                                    <input type="text" class="form-control" placeholder="Enter provider name"
                                           name="provider">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Start date</label>
                                    <input type="date" class="form-control" placeholder="Enter Start Date" name="start_date">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>End date</label>
                                    <input type="date" class="form-control" placeholder="Enter End Date" name="end_date">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Location</label>
                                    <select class="form-control" id="structure" name="location">
                                        <option value="none">---</option>
                                        <option value="1">Intern</option>
                                        <option value="2">Extern</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Location Details</label>
                                    <input type="text" class="form-control" placeholder="Enter location details"
                                           name="location_details">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Participation Fee</label>
                                    <input type="number" class="form-control" placeholder="Enter participation fee"
                                           name="participation_fee">
                                </div>
                            </div>
                            <div class="col-sm-12 p-lg-2">
                                <div class="form-group clearfix">
                                    <div class="icheck-primary d-inline">
                                        <input type="checkbox" id="active" name="active" checked>
                                        <label for="active">
                                            Active
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="addCourse()">Save Course</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- End Modal Add New Course-->

    <!-- JS Scripts  -->
    <script src="{% static "dist/js/form.js" %}"></script>

{% endblock main_content %}

