{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Assign course {{ courseemployee.course }} for {{ courseemployee.employee }}
{% endblock page_title %}

{% block page_button %}

    <div class="col">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-times"></i></a>
            </li>
        </ul>
    </div>

{% endblock page_button %}


{% block main_content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <br>
                    <div>

                        <form method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                {{ form.as_p }}
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-outline-success">Save</button>
                            </div>
                        </form>

                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->

{% endblock main_content %}