{% extends 'base.html' %}
{% load static %}
{% block page_title %}
    {{ employee }}
{% endblock page_title %}
{% block page_button %}
    <div class="col">
        <a class="btn btn-block btn-primary" data-toggle="modal" href="#">Assign New Course</a>
    </div>

{% endblock page_button %}

{% block main_content %}


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <br>
                    <div>

                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-info"><i class="far fa-envelope"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Courses</span>
                                        <span class="info-box-number">233</span>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-success"><i class="far fa-flag"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Transport</span>
                                        <span class="info-box-number">233</span>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-warning"><i class="far fa-copy"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Accomodation</span>
                                        <span class="info-box-number">13,648</span>
                                    </div>

                                </div>

                            </div>

                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="info-box">
                                    <span class="info-box-icon bg-danger"><i class="far fa-star"></i></span>
                                    <div class="info-box-content">
                                        <span class="info-box-text">Allowance</span>
                                        <span class="info-box-number">93,139</span>
                                    </div>

                                </div>

                            </div>

                        </div>


                        <!-- /.card-header -->
                        <!-- table start -->


                        {% if courses %}
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th scope="col">Course Name</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Location Details</th>
                                        <th scope="col">Provider</th>
                                        <th scope="col">Fee</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for course in courses %}
                                        <tr>
                                            <td>{{ course.course_name }}</td>
                                            <td>{{ course.start_date }}</td>
                                            <td>{{ course.end_date }}</td>
                                            <td>{{ course.location }}</td>
                                            <td>{{ course.location_details }}</td>
                                            <td>{{ course.provider }}</td>
                                            <td>{{ course.participation_fee }}</td>
                                            <td width="120">
                                                {#                                                <i class="fas fa-graduation-cap mr-3" aria-hidden="true"></i>#}
                                                {#                                                <i class="fas fa-edit mr-3 blue-text" aria-hidden="true"></i>#}


                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-light btn-sm">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-light btn-sm">
                                                        <i class="fas fa-pen"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-light btn-sm"
                                                            data-toggle="modal"
                                                            data-target="#">
                                                        <i class="fas fa-trash"></i>
                                                    </button>
                                                </div>

                                                {#                                                <button type="button" class="btn btn-block btn-light btn-xs"#}
                                                {#                                                        data-toggle="modal"#}
                                                {#                                                        data-target="#employee_{{ employee.id }}">#}
                                                {#                                                    <i class="fas fa-trash-alt" aria-hidden="true"></i>#}
                                                {#                                                </button>#}

                                            </td>
                                        </tr>

                                        <div class="modal fade" id="course_{{ course.id }}">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Delete course {{ course.course_name }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        This operation cannot be undone. <br>
                                                        Are you sure you want to delete course
                                                        <b>{{ course.course_name }}</b>?
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <a href="%"
                                                           class="btn btn-danger">Confirm Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}

                                    </tbody>
                                </table>

                            </div>
                        {% else %}
                            <div class="card-body text-center"><br>
                                <h4 class="text-muted">No data available</h4>
                            </div>
                        {% endif %}

                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->

{% endblock main_content %}

