{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    {{ employee }}
    <h6 class="mb-0 p-2">
        {% if employee.active is True %}
            <span class="badge bg-gradient-success sm">Active</span>
        {% elif employee.active is False %}
            <span class="badge bg-gradient-gray">Inactive</span>
        {% endif %}
    </h6>
{% endblock page_title %}

{% block page_button %}
    <div class="btn-group">
        <a class="btn btn-secondary" href="{% url 'edit-employee' employee.id %}">Edit</a>
        <a class="btn btn-primary" data-toggle="" href="{% url 'assign-course' employee.id %}">Assign New Course</a>
    </div>
{% endblock page_button %}

{% block custom_css %}

    <style>

        .flexbox-container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 80vh;
            margin: 0;
            min-height: 24em;

        }

        .flexbox-item {
            max-width: 50%;

        }

        .fixed {
            flex: none;
            max-width: 50%;
        }

        .item-centered {
            width: 100%;
            padding: 1em;
        }

        .large-icon {
            font-size: 6rem;
        }

    </style>

{% endblock custom_css %}

{% block main_content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <br>
                    <div>
                        <!-- condition start -->
                        {% if courses %}

                            <!-- widget start -->
                            <div class="row">

                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-success"><i class="fa fa-car-alt"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Transport</span>
                                            <span class="info-box-number">{{ transport_costs }} lei</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-warning"><i class="fa fa-bed"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Accomodation</span>
                                            <span class="info-box-number">{{ accomodation_costs }} lei</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-danger"><i
                                                class="fa fa-utensils"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Allowance</span>
                                            <span class="info-box-number">{{ allowance_costs }} lei</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-12">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-info"><i class="fa fa-receipt"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-text">Participation Fee</span>
                                            <span class="info-box-number">233</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- widget end -->

                            <!-- table start -->
                            <div class="card-body table-responsive p-0">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                    <tr>
                                        <th scope="col">Course Name</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">Days</th>
                                        <th scope="col">Location</th>
                                        <th scope="col">Details</th>
                                        <th scope="col">Fee</th>
                                        <th scope="col">Status</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for course in courses %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'view-course' course.id %}">
                                                    {{ course.course_name }}</a></td>
                                            <td>{{ course.start_date }}</td>
                                            <td>{{ course.duration }}</td>
                                            <td>{{ course.get_location_display }}</td>
                                            <td>{{ course.location_details }}</td>
                                            <td>{{ course.participation_fee }}</td>
                                            <td>
                                                {% if course.active is True %}
                                                    <span class="badge bg-gradient-success">Active</span>
                                                {% elif course.active is False %}
                                                    <span class="badge bg-gradient-gray">Inactive</span>
                                                {% endif %}</td>
                                            <td width="80">
                                                <div class="btn-group">
                                                    <a class="btn btn-light btn-sm" href="{% url 'edit-assign' pk=employee.id cid=course.id %}">
                                                    <i class="fas fa-pen"></i>
                                                    </a>
                                                    <a class="btn btn-light btn-sm" data-toggle="modal" href="#course_{{ course.id }}">
                                                    <i class="fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>

                                        <div class="modal fade" id="course_{{ course.id }}">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">
                                                            Remove course {{ course.course_name }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to remove association with course
                                                        <b>{{ course.course_name }}</b>? This operation cannot be
                                                        undone.
                                                    </div>
                                                    <div class="modal-footer justify-content-between">
                                                        <button type="button" class="btn btn-default"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                            <a href="{% url 'delete-employee-course' course.id employee.id %}"
                                                               class="btn btn-danger">Confirm Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <div class="flexbox-container">
                                <div class="flexbox-item fixed">
                                    <div class="item-centered text-center">
                                        <h1 class="text-muted large-icon"><i class="fas fa-school"></i>
                                        </h1>
                                        <h4 class="text-muted">No course available</h4>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>

    <!-- /.content -->

{% endblock main_content %}

